extends layout

block content 
  .inner
    h2= "Map"
    .map
      .autocomplete
        input.autocomplete__input(type="text" placeholder="Search for anything" name="geolocate")
      #map
        p Loading Map...
